/**
 * [margin description]
 * @type {Number}
 */
html,body,div,ul,li,ol,a,input,textarea,p,dl,dt,dd{margin:0;padding:0;}
ul li{list-style: none;}
a{text-decoration: none;cursor: pointer;}
html{height: 100%;}
body{height: 100%;background:white;width:100%;position: relative;font-family: '微软雅黑'; font: 24/12px; line-height: 1.25em;margin:auto;}
a,input,img,textarea,span,div{outline: 0;-webkit-tap-highlight-color:rgba(255,0,0,0);}
/**头部信息*/
.section{
	position: relative;
	overflow: hidden;
}
.head{
	height: 4em;
	position: relative;
	background-color: #313131;
	width: 100%
}
.head .h-logs{
  	height: 100%;
 	width: 3em;
 	float: left;
  	background: url(../img/logo.png) center right no-repeat;
  	background-size: 70%;

}
.head .nav-title{
    text-align: center;
    width: 50%;
    color: white;
    margin:0 auto;
    line-height: 4em;

}
.head .h-right{
	float: right;
	height: 100%;
	width: 3em;
	background: url(../img/navs-btn.png) center left no-repeat;
	background-size: 70%;
    display: block
}
/**footer 底部信息样式**/

.footer{
	width:100%;
	background:#313131
}
.footer .con{
	padding:2em 1.2em
}
.footer .contact{
	color:white;
} 
.footer .contact li{
	line-height:1.6em;
}
.footer .links{
	width:100%;
	margin-top:1.5em;
	height:2em
}
.footer .links li{
	width:50%;
	float:left;
	text-align:center
}
.footer .links li a{
	color:white
}
.footer .share{
	width:8em;
	height:3em;
	margin:1em auto;
	position:relative
}

.footer .share .we-code{
	position:absolute;
	width:8em;
	background:white url(../img/wechat-code.jpg) center center no-repeat;
	background-size:cover;
	bottom:3.5em;
	left:-25%;
	height:0;
	transition:height 0.4s
}
.footer .share .we-code.show{
	height:8em;
}

.footer .share li{
	width:3em; 
	height:3em;
	border:1px solid #fff; 
	border-radius:50%;
	float:left;
	margin:0 5%}
.footer .wechat{
	background:url(../img/we-icon.png) center center no-repeat;
	 background-size:50%
	}
.footer .sina{
	background:url(../img/si-icon.png) center center no-repeat; 
	background-size:50%
}
.footer .f{color:#515151!important;
	text-align:center;
	width:100%;
	font-size:0.8em;
	margin-top:1em
}

/**
 * center 部分
 */
.center{
	background-color: white;
	height: auto;
	width: 100%;
	
}
.center .nav-darw{
	border-bottom: 1px solid #dadada;
	background-color: white;
	height: 50px;
	position: relative;
	overflow: hidden;
	width: 100%
}
.nav-darw ul li{
	width: 40%;
    height: 50px;
    line-height:50px;
    font-size: 1em;
    float: left;
    text-align: center;
    position: relative;
}
.nav-darw ul li span{
	display:block;
	height:.2em;
	background: #c9211d;
	width: 100%;
	position: absolute;
	opacity: 0

}
.nav-darw li.active span {
    left: 0;
    bottom: 0;
    opacity: 1;

}
.nav-darw ul li:nth-of-type(3){
	width: 20%;
	background: url(../img/fengxiang.png) center right  no-repeat;
    background-size:100%
}
.hide{display:none}
.center .ac-tivce{
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
}
.center .ac-tivce .ac-img{
  margin: 0 auto;
  position: relative;

  
}
.center .ac-tivce .ac-img .des1{
  position:absolute;
  z-index:999;
  top: 15%;
  left: 50%;
  margin-left: -50px;
}
.center .ac-tivce .ac-img .des1 img{
    width:100px; 
}
.center .ac-tivce .ac-bac{
    width: 100%;
    height:45em;
    background: url(../img/t2.png)center center no-repeat;
    background-size:cover;
    margin-top: -0.5em;
    
}
.center .ac-tivce .ac-bac .chaxn{
    height: 5em;
    line-height: 5em;
    color: #fff;
    width: 100%;
    position: relative;
}
.center .ac-tivce .ac-bac .chaxn span:nth-of-type(1){
    display: inline-block;
    height: 3em;
    line-height: 3em;
    border: 1px solid #rrr;
    width: 45%;
    text-align: center;
    border: 1px solid white;
    margin-left: 1em;
}
.center .ac-tivce .ac-bac .chaxn span:nth-of-type(2){
    display: inline-block;
    height: 3em;
    line-height: 3em;
    border: 1px solid #rrr;
    width: 44%;
    text-align: center;
    background: #05242d;
    margin-left: .5em;
    margin-right: .5em;
}
.center .ac-tivce .ac-bac .chaumet{
    border-top: 2px solid #869ca2;
    margin: 2em;
}
.center .ac-tivce .ac-bac .chaumet h2{
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.center .ac-tivce .ac-bac .chaumet h2 span{
    display: inline-block;
    height: 0.1em;
    width: 1.5em;
    border: 0px solid white;
    background: #fff;
    margin-bottom: 0.6em;
    margin-right: .2em;
}
.center .ac-tivce .ac-bac .chaumet li{
   display: inline-block;
    border: 1px solid #3d616a;
    width: 100%;
    height: 3em;
    line-height: 2.9em;
    border-radius: .8em;
    color: #fff;
    background: #3d616a;
    margin-bottom: 0.5em;
}
.center .ac-tivce .ac-bac .chaumet li span:nth-of-type(1){
    display: inline-block;
    width: 15%;
    text-align: right;
}
.center .ac-tivce .ac-bac .chaumet li span:nth-of-type(2){
  display: inline-block;
    width: 29%;
    margin: 0 .2em;
    text-align: right;
}
.center .ac-tivce .ac-bac .chaumet li span:nth-of-type(3){
    display: inline-block;
    width: 22%;
    margin: 0 .2em;
    text-align: right;
}
.center .ac-tivce .ac-bac .chaumet li span:nth-of-type(4){
    display: inline-block;
    width: 27%;
    text-align: right;
}
.center .hieds{
	padding: 5em;
}
/**
 * 抽奖查询
 */
.sub-nav{
	width:100%;
	height:50px;
	background:white;
	border-bottom: 1px solid #b5b5b5
}
.sub-nav li{
	width:50%;
	height:50px;
	line-height:50px;
	font-size:1.2em;
	float:left;
	text-align:center;
	position:relative
}
.sub-nav li span{
	position:absolute;
	width:100%;height:3px;
	background:#c9211d;
	display:block;
	opacity:0
}
.sub-nav li.active span{
	left:0;
	bottom:0;
	opacity:1
}
.sub-nav li.active{color:#c9211d}
.sub-phone{
	background-color:#fff;
	display:black;
	padding-bottom: 1em
}
.sub-phone .sub-contact{
	padding: 1.875em .3em 1em .5em;
	width:100%
}
.sub-phone .sub-contact small{
	color: #e60000;
	font-weight: 800;
	display: inline-block;
	width:14.7%;
	text-align:center}
.sub-phone .sub-contact small i{
	font-style: normal;
	color: #000;
	margin-left: .4em;
	font-weight: 100}
.sub-phone .sub-contact span:nth-of-type(1){
	margin: 0 0.2em 0 0;
	position:relative;
	display: inline-block;
	width: 56.3%}
.sub-phone .sub-contact span:nth-of-type(2){
	margin: 0 0.2em 0 0;
	position:relative;
	display: inline-block;
	width: 24%
}
.sub-phone input{
	border:1px solid #c7c7c7;
	border-radius:0;
	background-color:#fff;
	-webkit-appearance: none;
	-ms-appearance:none;
	-mo-appearance:none;
	appearance:none;
	}
.sub-phone button{width: 100%;border: none;height: 3em;text-align: center;background-color: #ba1513;color: #fff;font-size: 1.2em;font-family: '微软雅黑';letter-spacing: .08em;}
.sub-phone .sub-contact .sub-iptel,.sub-phone .sub-contact .sub-code{
	height: 2.5em;
	width:100%;
	padding: 0em 0.4em
}
.sub-phone input::-ms-input-placeholder{ 
	font-size:0.8em;
	padding-top: .15em
}
.sub-phone input::-webkit-input-placeholder{
	font-size:0.8em;
	padding-top: .15em
}
.sub-phone input::input-placeholder{ 
	font-size:0.8em;
	padding-top: .15em
}
.sub-phone input:{
	outline:none;
}
.sub-phone .sub-query{
	padding: 0 1em
}

.sub-phone-test{
  background-color: red
}
.list-province-active {
    background: #383A3D !important;
    color: #fff;
}
.list-province {
    height: 36px;
    width: 100%;
    line-height: 26px;
    border: 1px solid #eaeaea;
    border-left: none;
    border-right: none;
    padding: 5px 15px;
    display: block;
    clear: both;
    background: #fff;
    margin: -1px 0 0 0;
}
.sub-phone .sub-cread{
    width: 100%;
    background: url(../img/bacik.png) center center no-repeat;
    background-size: cover;
    overflow: hidden;  
    padding-bottom:1em;
    position: relative;
} 
.station {
    background: #fff;
    padding: 30px 10px 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
}
.sub-phone .sub-cread .sub-cue{
    padding: 1em;
    position: relative;
    padding: 0em 2em;
}
.sub-phone .sub-cread .sub-cue .uba2 p{
    font-size:1em;
    line-height:1.6em;
    padding: 2em .5em  1em .5em;
    color: #fff;
    
}
.sub-phone .sub-cread .sub-cue .uba1,.sub-phone .sub-cread .sub-cue .uba2,.sub-phone .sub-cread .sub-cue .uba3{
    margin: 1em auto;
   
}
.sub-cread .sub-query{
    margin-bottom: 2em;
    margin-top: 3em;
    text-align: center
}
.sub-cread .sub-button{
    width: 65%;
    text-align:center;
    
}
.sub-cread .sub-cer{
	padding-bottom: 0.5em;
}
.sub-cread .sub-cer span .img{
	vertical-align: middle;
}
.sub-cread .sub-cer span:nth-of-type(1){
    display: inline-block;
    height: 5em;
    width:5em;
    line-height: 5em;
    text-align: center;
    margin-left: 2em;
}

.sub-cread .sub-cer span:nth-of-type(2){
   color:#FFF;
   font-size: 1.2em;
}
.sub-phone .sub-ping{
    padding: 1em;
    position: relative;
}
.sub-phone .sub-ping p{
     line-height: 1.5em;
     margin-bottom: .5em;
}
.station .name {
    font-weight: bolder;
    margin: 5px 0;
    font-size:85%;
}
.sub-phone .sub-ping a{
    color:#00a0e9;
}
.station .xx {
    font-weight: 700;
    font-size:85%;
}
